.main {
  margin-top: 20px;
  padding: 0 150px;
}

.top h1 {
  font-size: 48px;
  font-weight: 800;
  font-style: ExtraBold;
}

.top p {
  font-size: 16px;
  font-weight: 600;
}

.bottom {
  height: 600px;
  width: 1161px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.support {
  width: 472px;
}

.btns {
  display: flex;
  justify-content: space-between;
}
.btns button {
  height: 44px;
  width: 220px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;
  font-style: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.via-email button {
  height: 44px;
  width: 472px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;
  font-style: bold;
  border-radius: 5px;
  color: black;
}
/* .via-email button image {
} */


/* .hero-img image{
  width: 508px;
  height: 515px;
} */