.container {
  height: 72px;
  /* width: 100%; */
  padding: 0 100px;
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
}

.nav-links ul {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.nav-links ul li {
  list-style: none;
  font-weight: 600;
  font-size: 20px;
}
