.primary_btn {
  height: 44px;
  min-width: 220px;
  padding: 18px 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.outline_btn {
  height: 44px;
  min-width: 472px;
  padding: 18px 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
